<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-light p-5">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>

            <div class="col-md-4 text-center text-light p-5">
                <h2>AROUND THE WEB</h2>
                <div class="icons">
                    <i class="fa-brands fa-facebook fs-5 m-2 border rounded-pill p-2 icon"></i>
                    <i class="fa-brands fa-twitter fs-5 m-2 border rounded-pill p-2 icon"></i>
                    <i class="fa-brands fa-linkedin fs-5 m-2 border rounded-pill p-2 icon"></i>
                    <i class="fa-solid fa-globe fs-5 m-2 border rounded-pill p-2 icon"></i>
                </div>
            </div>

            <div class="col-md-4 text-center text-light p-5">
                <h2>ABOUT FREELANCER
                </h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>

</section>