<section id="contact">
    <div class="container">
        <div class="contact-content  text-center">
            <h1 class="contact-color">CONTANT COMPONENT
            </h1>
            <div class="d-flex justify-content-center align-items-center">
                <div class="line d-flex "></div>
                <i class="fa-solid fa-star text-light ms-3 me-3 contact-color"></i>
                <div class="line d-flex "></div>
            </div>

            <form>
                <div class="container ">
                    <div class=" w-100 ">
                        <div class="col-12  p-3">
                            <input  class="w-75 p-2 mb-5 inputs" type="text" placeholder="userName">
                        </div>
                        <div class="col-12  p-3">
                            <input class="w-75 p-2 mb-5 inputs" type="text" placeholder="userAge">
                        </div>
                        <div class="col-12  p-3">
                            
                            <input class="w-75 p-2 mb-5 inputs" type="text" placeholder="userEmail">
                        </div>
                        <div class="col-12  p-3">
                           

                            <input class="w-75 p-2 mb-5 inputs" type="text" placeholder="userPassword">
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section>