<section id="portfolio">
    <div class="container">
        <div class="portfolio-content  text-center">
            <h1 class="port-color">PORTFOLIO COMPONENT
            </h1>


            








             <div class="d-flex justify-content-center align-items-center">
                <div class="line d-flex "></div>
                <i class="fa-solid fa-star text-light ms-3 me-3 port-color"></i>
                <div class="line d-flex "></div>
            </div>
            <div class="row g-5 mb-4 pt-3">
                <div class="col-md-4 rounded-4 portfolio-img ">
                    <div class="grid-content ">
                        <img class="w-100 rounded-3 " [src]="img1Path" alt="">
                        <div class="overlay rounded-3">
                            <i class="fa-solid fa-plus portfolio-icon"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 rounded-4 portfolio-img ">
                    <div class="grid-content ">
                        <img class="w-100 rounded-3 " [src]="img2Path" alt="">
                        <div class="overlay rounded-3">
                            <i class="fa-solid fa-plus portfolio-icon"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 rounded-4 portfolio-img ">
                    <div class="grid-content ">
                        <img class="w-100 rounded-3 " [src]="img3Path" alt="">
                        <div class="overlay rounded-3">
                            <i class="fa-solid fa-plus portfolio-icon"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 rounded-4 portfolio-img ">
                    <div class="grid-content ">
                        <img class="w-100 rounded-3 " [src]="img1Path" alt="">
                        <div class="overlay rounded-3">
                            <i class="fa-solid fa-plus portfolio-icon"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 rounded-4 portfolio-img ">
                    <div class="grid-content ">
                        <img class="w-100 rounded-3 " [src]="img2Path" alt="">
                        <div class="overlay rounded-3">
                            <i class="fa-solid fa-plus portfolio-icon"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 rounded-4 portfolio-img ">
                    <div class="grid-content ">
                        <img class="w-100 rounded-3 " [src]="img3Path" alt="">
                        <div class="overlay rounded-3">
                            <i class="fa-solid fa-plus portfolio-icon"></i>
                        </div>
                    </div>
                    
                </div>








            </div> 
                <!-- <div class="col-md-4 rounded-4 portfolio-img bg-danger">
                    <img class="w-100 rounded-3" [src]="img2Path" alt="">
                </div>
                <div class="col-md-4">
                    <img class="w-100 rounded-3" [src]="img3Path" alt="">
                </div>
    
                <div class="col-md-4">
                    <img class="w-100 rounded-3" [src]="img1Path" alt="">
                </div>
    
                <div class="col-md-4">
                    <img class="w-100 rounded-3" [src]="img2Path" alt="">
                </div>
    
                <div class="col-md-4">
                    <img class="w-100 rounded-3" [src]="img3Path" alt="">
                </div> -->
            
        </div>
        
    </div>
</section>